.f-container{
  height: 100%;
  display: flex;
  margin-top: 50px;
}

.f-left{
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.f-right{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.f-img{
  width: 20%;
}

.f-title{
  width: 50%;
  font-size:  1.2rem;
  margin-top: 10px;
}

.f-desc{
  width: 50%;
  margin-top: 10px;
  color: black;
}

.f-btn{
  width: 50%;
  margin-top: 20px;
  margin-bottom: 40px;
  list-style: none;
  text-decoration: none;
  font-weight: bold;
  color: green;
  border-radius: 10px;
  cursor: pointer;
}

.fa-telegram{
  width: 50%;
  font-size: 8rem;
  color: dodgerblue;
}

.f-community-btn{
  margin-top: 20px;
  text-decoration: none;
  background-color: #333;
  padding: 10px 20px;
  color: #fff;
  border-radius: 30px;
} 

.f-community-desc{
  margin-top: 20px;
  width: 70%;
  text-align: left;
}

.f-rent{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: green;
  color: #fff;
  padding: 15px 20px;
  border-radius: 10px;
}

.account-num{
  letter-spacing: 2px;
}

@media screen and (max-width: 480px) {
  .f-container{
    flex-direction: column;
    padding: 30px 20px;
  }
  .f-left{
    display: none;
  }
  .f-right{
    width: 100%;
  }
  .f-community-desc{
    width: 90%;

  }
  
}